<div class="container">
    <h1>Agregar Producto</h1>
    <form>
    <label>ID:</label>
    <input type="text" />

    <label>Nombre:</label>
    <input type="text" />

    <label>Descripción:</label>
    <textarea></textarea>

    <label>Logo URL:</label>
    <input type="text" />

    <label>Fecha de Liberación:</label>
    <input type="date" />

    <label>Fecha de Revisión:</label>
    <input type="date" />

    <button type="submit">Agregar</button>
    <button type="reset">Reiniciar</button>
    </form>
</div>
